.App {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.breadCrumbs {
    display: flex;
    padding: 20px 0 0 30px;
    width: 100%;
    background-color: rgb(240, 240, 240);
    align-items: baseline;
}

.breadCrumbDiv {
    display: flex;
    align-items: baseline;
}

.breadCrumbs a, .breadCrumbDiv a {
    color: gray;
    text-decoration: none;
    text-transform: none;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.5px;
    margin: 10px;
}

.breadCrumbIcon {
    color: gray;
    margin: 10px;
}


div.breadCrumbs > div > svg {
    height: 12px;
    width: 12px;
}

@media screen and (max-width: 700px) {
    .breadCrumbs {
        display: none;
    }
}