.contactPageContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(240, 240, 240);
}

.contactFormDiv {
    margin: 40px 0;
    border: solid 1px gray;
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    height: 100%;
    box-shadow: 2px 2px 4px gray;
}




/* Contact Links styles */

.contactLinksDiv {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 300px;
}
.contactLinksDiv a {
    text-decoration: none;
    text-transform: none;
    color: rgb(44, 43, 43);
    display: flex;
    align-items: center;
    margin: 3px;
    font-size: 16px;
}
.contactLinksDiv a:hover {
    opacity: 0.7;
    text-decoration: underline;
}
div.contactLinksDiv > a > svg {
    padding-right: 10px;
}