a { 
    font-size: 20px;
    text-transform: uppercase;
}
.nav-area {
    background: #262626;
}
.nav-area:after {
    content: "";
    clear: both;
    display: block;
}
.nav-area ul {
    list-style: none;
    /* margin: 20px; */
    margin: 0 30px 0 0;
    display: flex;
    justify-content: flex-end;
}
.nav-area>ul>li {
    float: right;
    position: relative;
    /* border: solid 2px red; */
    margin: 10px 30px; 
    /* padding: 20px; */
}
.nav-area ul li a {
    text-decoration: none;
    color: #fff;

    display: block;
    /* padding: 15px 20px; */
}
.nav-area ul li a:hover {
    color: rgb(80, 107, 88);
    text-decoration: underline;
}
.nav-area ul ul {
    position: absolute;
    padding: 0;
    /* min-width: 160px; */
    display: none;
    top: 100%;
    left: 0;
    /* border: solid 2px blue; */
}
.nav-area ul li:hover>ul {
    display: block;
}
.nav-area ul ul li:hover a {
    background-color: #262626;
}
.nav-area ul ul li {
    position: relative;
    /* display: block; */
}
.dropdown-link {
    padding: 20px;
    font-size: 16px;
}
.dropdown {
    background-color: #262626;
}

