.logo {
    color: white;
    width: 500px;
    padding: 0 0 30px 30px;
}


.headerCollapsed-link{
    display: flex;
    text-decoration: none;
}

/* .active {
    text-decoration: none;
    color: rgb(185, 181, 131);
    font-size: 20px;
} */


/* .navUl {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0px 30px;
} */

/* .unactive {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 20px 50px;
    text-transform: uppercase;
} */

.navButton {
    color: rgb(163, 157, 157);
    background-color: rgb(48, 46, 46);
    border: solid 1px rgb(150, 148, 148);
    border-radius: 3px;
    padding: 3px;
}

.headerFullDiv, .headerCollapsedDiv {
    font-family: 'Rubik', sans-serif;
    letter-spacing: 2px;
}




/* large screen */
@media only screen and (min-width: 701px) {
    .headerFullDiv {
        display: flex;
        flex-direction: column-reverse;
        border: solid 1px;
        background-color: #262626;
        color:aliceblue;
    }
    .headerCollapsedDiv {
        display: none;
    }
}


/* small screen */
@media only screen and (max-width: 700px) {
    .headerFullDiv {
        display: none;
    }
    .headerCollapsedDiv {
        background-color: rgb(48, 46, 46);
        width: 100%;
        height: 3rem;
    }

}



/* Footer styles */
.footerDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px 0;
    background-color: #262626;
    width: 100%;
}


.footerLeft a, .footerRight a {
    text-decoration: none;
    color: white;
    text-transform: none;
    display: flex;
    align-items: flex-end;
    padding: 5px;
    font-family: Arial;
    font-size: 16px;
    letter-spacing: 2px;
}
.footerLeft a svg, .footerRight a svg {
    padding-right: 5px;
}
.footerLeft a:hover, .footerRight a:hover {
    color: rgb(80, 107, 88);
    cursor: pointer;
}

.footerRight, .footerLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}


.footerBtnDiv {
    display: flex;
    justify-content: center;
}
.footerBtn {
    text-decoration: none;
    text-transform: none;
    padding: 15px 25px;
    background-color: rgb(80, 107, 88);
    color: white;
    border-radius: 10px;
    font-family: Arial;
    letter-spacing: 1px;
}
.footerBtn:hover {
    opacity: .75;
    cursor: pointer;
}

@media screen and (max-width: 950px) {
    .footerDiv {
        display: flex;
        flex-direction: column;
    }
    .footerBtnDiv {
        padding: 30px 0;
        width: 100%;
    }
    .footerLeft, .footerRight {
        width: 100%;
    }

}