/* divorce page styles */


.divorceMain {
    background-color: rgb(240, 240 ,240);
    padding: 20px;
}

.divorceTitleDiv {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    border-bottom: gray solid 2px;
    color: rgb(90, 89, 89);
    font-size: 1.5vw;
}

.divorceMainDiv {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}
.divorceTopDiv {
    display: flex;
    width: 95%;
    margin: auto;
}
.descriptionCard {
    margin: 10px;
    padding: 20px;
    text-align: justify;
    border: solid 1px gray;
    background-color: rgb(184, 212, 184);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(177, 177, 177);
}
.descriptionCard h2 {
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    border-bottom: 2px gray solid;
}
.divorceBottomDiv {
    display: flex;
}

.divorceReqDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
}
.divorceAccordian {
    width: 90%;
}
.insideAccordian {
    display: flex;
    flex-direction: column;
}
.restrictionSpan {
    font-size: 10px;
    color: red;
    padding: 10px;
}
.courtFormLink {
    text-decoration: none;
    text-transform: none;
    font-size: 12px;
}
.divorceBtnDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
}
.divorceBtnDiv a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 100%;
}
.divorceBtn {
    width: 50%;
    height: 70px;
    margin: auto;
    background-color: rgb(51, 87, 51);
    color: white;
    border: solid 4px white;
    border-radius: 10px;
    font-size: 2vw;
}
.divorceBtn:hover {
    opacity: .75;
}

@media screen and (max-width: 1110px) {
    .divorceReqDiv, .divorceBtnDiv {
        width: 100%;
    }
    .divorceBottomDiv, .divorceTopDiv {
        display: flex;
        flex-direction: column;
    }
    .divorceMain {
        width: 100vw;
    }
}

@media screen and (min-width: 1111px) {
    .divorceReqDiv, .divorceBtnDiv {
        width: 50%;
    }
}
